
RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Body*/
body{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	/*font-family: 'Cabin', Arial , sans-serif;*/
}

/*HEaDER*/
.header{
	/*margin-top: -10px;*/
	max-width: 100rem;
	margin: auto;
	background-color: #9b9d9d;
	opacity: .5;
	height: 11.25em;
	text-align: center;
	padding-top: 2rem;
}
.background{
	width: 100%;
	min-height: 2rem;
	background-color: #5ed3e8;
}

.nav-menu{
	list-style-type: none;
	max-width: 1024px;
	margin: auto;

}

nav{
	max-width: 1024px;
	margin:auto;
	height: 3.2rem;
	padding-top: 1.25rem;
}
/*.nav-menu {
	list-style-type: none;
	max-width: 1024px;
	margin: auto;
	width: 100%;
}
*/
nav > ul > li {
	float: left;
	position: relative;
}

/*CLEARFIX pour le sous menu de l'onglet ABOUT*/
nav > ul::after{
	content: "";
	display: table;
	clear: both;
}

ul li ul li{
	display: none;
}

/*On cache le bouton et le label jusqu'à la partie responsive*/
nav input[type=checkbox]{
	display: none;
}

nav label{
	display: none;
}

nav a{
	display: inline-block;
	text-decoration: none;
}

ul > li > a{
	/*max-width: 1024px;
	margin: auto;*/
	padding: 0rem 3.5rem;
	color: #002b80;
	line-height: 30px;
	font-family: cursive;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
}
/*
ul li{
	width: 100px;
}
/*
.nav-menu a{
	text-decoration: none;
	font-family: cursive;
	display: block;
	line-height: 3rem;
	text-transform: uppercase;
}

*/

nav ul li a:hover {
	color: white;
	background-color: blue;
}

.submenu li a{
    text-decoration: none;
    color: #222E51;
    display: block;
    background-color: #36AFAF;
}

.background > nav > ul > li:hover .submenu li {
	display: inline-block;
	position: absolute;
	width: 40px;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}
/*
.submenu .submenu1{
	padding: 40px 30px;
	font-size: 20px;
	color: #FFF;
	width: 200px;
}
*/

.title1, .title2{
	text-transform: uppercase;
	font-family: 'Cabin', sans-serif;
	margin-top: 50px;
	color: #5ed3e8;

}

#form span{

	color: red;
}

.container{
	width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

#form{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-is-link{
	background-color: orange;
	text-transform: uppercase;
	height: 30px;
	width: 70px;
}

#map{
	margin-top: 50px;
	width: 400px;
	height: 300px;

}

.aside-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.address{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container2{
	height: 400px;
	background-color: #cccccc;

	margin-bottom: -30px;
	margin-top: : 50px;
}

.main-container2{
	max-width: 1024px;
	margin: auto;
	padding-top: 30px;
}

.team{

	display: flex;
	flex-direction: row; 
	justify-content: space-between;
}

.content-team{
	justify-content: space-between;
}

.flottant{
	position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(10, 150, 225, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    height: 40px;
    font-family: 'Cabin',sans-serif;

}

.content-team:hover .flottant{
  opacity: 1;
}
/*Footer*/
.footer-section{
	width: 100%;
	background-color: #5ed3e8;
	height: 4.375em;
	margin-top: 2%;
	padding-top:2%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-section1 span{
	color: orange;
}

.footer-section2 > #formal1,
.footer-section3{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.button-is-link2{
	background-color: #000033;
	color: #FFF;
	position: absolute;
	margin-top: -1.5em ;
	margin-left: 5em ;
}
/*Footer*/